<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinqch.website.mapper.PicUrlMapper" >
  <resultMap id="BaseResultMap" type="com.xinqch.website.model.PicUrl" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PIC_NAME" property="picName" jdbcType="VARCHAR" />
    <result column="PIC_URL" property="picUrl" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_USER" property="modifyUser" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="DEL_STAUTS" property="delStauts" jdbcType="TINYINT" />
    <result column="COLUMN1" property="column1" jdbcType="VARCHAR" />
    <result column="COLUMN2" property="column2" jdbcType="VARCHAR" />
    <result column="COLUMN3" property="column3" jdbcType="VARCHAR" />
    <result column="MODEL_ID" property="modelId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PIC_NAME, PIC_URL, CREATE_USER, CREATE_TIME, MODIFY_USER, MODIFY_TIME, DEL_STAUTS, 
    COLUMN1, COLUMN2, COLUMN3, MODEL_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PIC_URL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PIC_URL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.xinqch.website.model.PicUrl" >
    insert into PIC_URL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="picName != null" >
        PIC_NAME,
      </if>
      <if test="picUrl != null" >
        PIC_URL,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyUser != null" >
        MODIFY_USER,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="delStauts != null" >
        DEL_STAUTS,
      </if>
      <if test="column1 != null" >
        COLUMN1,
      </if>
      <if test="column2 != null" >
        COLUMN2,
      </if>
      <if test="column3 != null" >
        COLUMN3,
      </if>
      <if test="modelId != null" >
        MODEL_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="picName != null" >
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStauts != null" >
        #{delStauts,jdbcType=TINYINT},
      </if>
      <if test="column1 != null" >
        #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        #{column3,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinqch.website.model.PicUrl" >
    update PIC_URL
    <set >
      <if test="picName != null" >
        PIC_NAME = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        PIC_URL = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null" >
        MODIFY_USER = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delStauts != null" >
        DEL_STAUTS = #{delStauts,jdbcType=TINYINT},
      </if>
      <if test="column1 != null" >
        COLUMN1 = #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        COLUMN2 = #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        COLUMN3 = #{column3,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        MODEL_ID = #{modelId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>