<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinqch.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.xinqch.model.User" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="PASS_WORD" property="passWord" jdbcType="VARCHAR" />
    <result column="USER_PHOTO" property="userPhoto" jdbcType="VARCHAR" />
    <result column="ROLE" property="role" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="DELFLAG" property="delflag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PARENT_ID, REAL_NAME, USER_NAME, PASS_WORD, USER_PHOTO, ROLE, CREATE_TIME, CREATE_USER, 
    UPDATE_TIME, UPDATE_USER, DELFLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from USER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from USER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xinqch.model.User" >
    insert into USER (ID, PARENT_ID, REAL_NAME, 
      USER_NAME, PASS_WORD, USER_PHOTO, 
      ROLE, CREATE_TIME, CREATE_USER, 
      UPDATE_TIME, UPDATE_USER, DELFLAG
      )
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR}, #{userPhoto,jdbcType=VARCHAR}, 
      #{role,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{delflag,jdbcType=TINYINT}
      )
  </insert>
 
  <update id="updateByPrimaryKey" parameterType="com.xinqch.model.User" >
    update USER
    set PARENT_ID = #{parentId,jdbcType=VARCHAR},
      REAL_NAME = #{realName,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      PASS_WORD = #{passWord,jdbcType=VARCHAR},
      USER_PHOTO = #{userPhoto,jdbcType=VARCHAR},
      ROLE = #{role,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      DELFLAG = #{delflag,jdbcType=TINYINT}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>